/*added to make angular-ui work*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

header {
    font-family: 'Gabriela', serif;
    color:#FEC85E;
}

body {
    margin: 0 auto;
    font-family: 'Gabriela', serif;
    background-color: #965171;
}

.panel {
    background-color:rgb(245, 244, 222);
}
.panel-default > .panel-heading {
    background-color: #F67E4A;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

#game-table {
    text-align: center;
}
.inside-card {
    display: block;
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}

.spade {
    background-position: 5px 0px;
}

.heart {
    background-position: -50px 0px;
}

.diamond {
    background-position: 5px -50px;
}

.club {
    background-position: -50px -50px;
}

.spade, .heart, .diamond, .club {
    height: 50px;
    width: 50px;
    background-image: url('../img/French_suits.svg');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100px auto;
}

.card {
    position: relative;
    padding: 10px 10px 10px 10px;
    margin:33px;
    border: 3px solid #9E1326;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    display: inline-block;
    background-color: #ffffff;
}

.hiddenCard {
    background-color: #E82F2A;
    color: #FEC85E;
}

.enabled {
    opacity: 0.5;
}

.common-float-left {
    float: left;
}

.clear {
    clear: both;
}

.card-decoration {
    position: absolute;
}

.top-left {
    top: 10px;
    left: 10px
}

.bottom-right {
    bottom: 10px;
    right: 10px
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.card-highlight {
    border: 2px solid #ffff4f;
    font-weight: bold;
    font-size: 18px;
}

.error {
    background-color: #FF0000;
}

.display-inline {
    display: inline;
}

#game-controls {
    text-align: center;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.snap-winner {
    -webkit-animation: flashAnim 1s;
}

@-webkit-keyframes flashAnim {
    0% {
        color: #FEC85E;
    }
    50% {
        color: #178bff;
    }
    100% {
        color: #FEC85E;
    }
}

.card-icons {
    font-size: 4em;
}