<!doctype html>
<html ng-app="snapGameApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Snappy App</title>

    <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Homenaje:400" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/snap.css"/>

    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/vendor/ui-bootstrap.min.js"></script>
    <script src="scripts/vendor/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/controllers.js"></script>
</head>
<body ng-controller="SnapGameCtrl">
<!-- Begin page content -->
<div class="container">

    <header><h1>{{appTitle}}</h1></header>

    <section id="instructions">
        <accordion close-others="oneAtATime">
            <accordion-group heading="How to Play" is-open="true">
                Relive the joy of playing snap from your childhood! <br/> <br/>
                1. Click "Start Game" to begin. The starting player will be randomly chosen each time you start a new
                game. <br/>
                2. The current player will be indicated by a yellow glow on the card pile. <br/>
                3. Click the middle pile to SNAP! <br/>
                4. Change the difficulty from easy - medium - hard. This changes the speed at which the computer SNAPs.
                <br/>
                5. The winner will be the player with the most cards at the end <br/>
            </accordion-group>
        </accordion>

    </section>
    <section id="game-table">
        <div class="centre" ng-show="gameHasWinner"><i class="fa fa-trophy card-icons"></i><br/>And the winner is....
            {{winner}}!
        </div>
        <div class="card hiddenCard common-float-left" ng-class="{true: 'card-highlight'}[nextPlayer == 'computer']">
            <div class="card-text-comp" ng-class="{true: 'snap-winner'}[snapWinner == 'computer']">
                <p>Computer</p>
                <i class="fa fa-laptop card-icons"></i>
                <br/>

                <p>{{deckComputer.length}} cards left</p>
            </div>
        </div>
        <div class="card common-float-left" ng-click="snapByPlayer()">
            <div class="card-decoration top-left">
                <div>{{played[played.length-1].rank}}</div>
                <div ng-class="played[played.length-1].suit"></div>
            </div>
            <div class="card-decoration bottom-right rotate">
                <div>{{played[played.length-1].rank}}</div>
                <div ng-class="played[played.length-1].suit"></div>
            </div>
        </div>
        <div class="card hiddenCard common-float-left" ng-class="{true: 'card-highlight'}[nextPlayer == 'player']"
             ng-click="playCardPlayer()">
            <div class="card-text-player" ng-class="{true: 'snap-winner'}[snapWinner == 'player']">
                <p>Player</p>
                <i class="fa fa-user card-icons"></i>
                <br/>

                <p>{{deckPlayer.length}} cards left</p>
            </div>
        </div>
    </section>
    <div class="clear"></div>

    <section id="game-controls">
        <button ng-click="startGame();">Start Game</button>

        <div ng-show="gameStarted" ng-repeat="level in levels">
            <input type="radio" ng-model="difficulty.value" value="{{level.value}}">{{level.name}}<br/>
        </div>
    </section>

</div>
</body>
</html>